* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	line-height: 150%;
}

body {
	background: #cccccc url("images/bg.png") fixed;
}

.container {
	margin: 0 auto;
	padding: 1em;
	max-width: 800px;
	background: #ffffff;
	box-shadow: 0 0 0 1em rgba(0,0,0,0.5);
	font-family: Arial, sans-serif;
}

h1, h2, h3, p {
	margin: 1em 0;
}

div, fieldset {
	margin: 0.25em 0;
}

#output:fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}
#output:-webkit-full-screen {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}
#output:-moz-full-screen {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}
#output:-ms-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}

canvas {
	display: block;
	margin: 0.5em 0;
	box-shadow: 0 0 0 0.25em rgba(0,0,0,0.5);
	background: url("images/bg-canvas.png");
	max-width: 100%;
	cursor: pointer;
}

#output:fullscreen > canvas {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
#output:-webkit-full-screen > canvas {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
#output:-moz-full-screen > canvas {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
#output:-ms-fullscreen > canvas {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#output:fullscreen > button, #output:fullscreen > h3 {
	display: none;
}
#output:-webkit-full-screen > button, #output:-webkit-full-screen > h3 {
	display: none;
}
#output:-moz-full-screen > button, #output:-moz-full-screen > h3 {
	display: none;
}
#output:-ms-fullscreen > button, #output:-ms-fullscreen > h3 {
	display: none;
}

.hidden {
	display: none;
}

#hint {
	font-style: italic;
	opacity: 75%;
}

img.icon {
	width: auto;
	height: 1em;
	vertical-align: middle;
}

figcaption {
	display: inline;
}

fieldset {
	border: none;
}

footer {
	margin: 2em 0;
}
