* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 125%;
}

body {
	background: #cccccc url("images/bg.png") fixed;
}

.container {
	margin: 0 auto;
	padding: 1em;
	max-width: 800px;
	background: #ffffff;
	box-shadow: 0 0 1em;
	font-family: Arial, sans-serif;
}

div {
	margin: 0.25em 0;
}

canvas {
	box-shadow: 0 0 5px;
	background: url("images/bg-canvas.png");
	max-width: 100%;
	cursor: pointer;
}

footer {
	margin: 2em 0;
}
